@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.intro {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-size: 5vh;
    text-align: center;
}

.intro p {
    margin: 0 10%;
}

#home {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100vh;
    background-color: #f0f0f0;
}

#keyboard {
    align-self: flex-start;
    max-width: 100%;
    max-height: 60%;
    object-fit: contain;
}

#name {
    max-width: 100%;
    height: 50%;
    padding: 0 5%;
}


#projects {
    background-color: #a4a4a4a4;
    height: 100vh;
}

@media screen and (min-aspect-ratio: 8/5) {
    #home {
        grid-template-columns: auto auto;
    }

    #intro {
        grid-column: 2;
        grid-row: 1;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    to {
        fill: black;
    }
}




